
overrides
pytorch-nlp
nltk
transformers
scipy
scikit-learn
tensorboard
pypinyin
statsmodels
lemminflect
num2words
word2number
language_tool_python
bert_score
editdistance
datasets
terminaltables
tensorflow_hub
tensorflow

accelerate
sentencepiece
deepspeed
openai
py-cpuinfo
mpi4py
# torch._six = (bool,int)


