transformers==4.30.0
tokenizer==0.13.0
accelerate
sentencepiece

overrides
pytorch-nlp
nltk
scipy
scikit-learn
tensorboard
pypinyin
statsmodels
lemminflect
num2words
word2number
language_tool_python
bert_score
editdistance
datasets
terminaltables
tensorflow_hub
tensorflow

deepspeed
openai
py-cpuinfo
mpi4py
# torch._six = (bool,int)
fire

